# vs
.vs

# keil
RTE/
RTE_*
Objects/
Listings/
DebugConfig/
*.uvguix.*
*Keil.BAT
EventRecorderStub.scvd

bin/
*.bin
obj/
.obj/
*.obj
.lst/
*.map
*.dll
*.zip
*.pyd
*.msi
target/
build/
Debug
*Debug.cfg

# Rust
Cargo.lock

# vscode
settings.json

